body {
    margin-left: 0;
    margin-top: 200px;
}

#google-logo {
    height: 92px;
    width: 272px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search-box {
    height: 44px;
    width: 580px;
    display: block;
    border-radius: 24px;
    border: 1px solid lightgray;
    margin: 32px auto 0;
    position: relative;
    font: 16px arial,sans-serif;
    outline: none;
    padding-left: 30px;
    padding-right: 30px;
}

#search-box:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: rgba(223,225,229,0);
}



button {
    margin: 0 auto;
}

.buttons {
    margin: 20px auto;
}

#search {
    margin: 0 50%;
}

.search-button {
    display: inline-flex;
    width: 50px;
}




footer {
    position: relative;
}

a {
    color: rgb(100,100,100);
    padding-left: 30px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 14px;
}


#footer-div {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgb(240,240,240);
}

#footer-left-links {
    float: left;
    position: absolute;
    margin-top: 10px;
}

#footer-right-links {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}



