body {
    margin-top: 100px;
}

button {
    margin: 0 auto;
}

a {
    color: gray;
    padding-left: 30px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 14px;
}

footer {
    background: lightgray;
}

.center {
    margin: 20px auto;
}

.search-buttons {
    display: flex;
}

#footer-left-links {
    float: right;
}

#footer-right-links {

}

#google-logo {
    height: 92px;
    width: 272px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search-box {
    height: 44px;
    width: 580px;
    display: block;
    margin: 0 auto;
    border-radius: 24px;
    border: 1px solid lightgray;

}