body {
    margin-top: 100px;
}

footer {
    background: lightslategray;
}

.center {
    margin: auto;
    width: 50%;
}

#footer-left-links {
    float: right;
}

#footer-right-links {

}

#google-logo {
    height: 92px;
    width: 272px;
    margin: auto;
}

#search-box {
    width: 300px;
}